a {
    padding: 0 20px;
    color: blue;
}

.product, 
.product th, 
.product td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

img {
    width: auto;
    height: 100px;
}